{erl_opts, [debug_info, warnings_as_errors, warn_untyped_record]}.
{cover_enabled, true}.
{cover_export_enabled, true}.

{pre_hooks,
  [{compile, "cmake -B_build/c_src -Hc_src"},
   {compile, "cmake --build _build/c_src -- install"}]}.

{post_hooks,
  [{clean, "cmake --build _build/c_src -- clean"}]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
    deprecated_function_calls, deprecated_functions]}.

{dialyzer, [{warnings, [unknown]}]}.
